<div id="profile-view">
  <!-- <div id='photoContainer' style="background-image: url(assets/images/{{rep.bioguide_id}}.jpg) ">
</div> -->
<img id='photoContainer' ng-src="assets/images/{{rep.bioguide_id}}.jpg" fallback-src="assets/images/noImage.jpg"/>

<h1>{{ rep.title }} {{ rep.first_name }} {{ rep.last_name }} ({{ rep.party[0] }} - {{ rep.state }})</h1>
<div id="social-icons" class="col-md-12">
  <div class="social__item contact">
    <a target="_blank" href="{{rep.website}}" class="social__icon"><i class="fa fa-envelope profIcon"></i></a>
  </div>
  <div class="social__item facebook">
    <a target="_blank" href="http://facebook.com/{{ rep.facebook_id }}" class="social__icon"><i class="fa fa-facebook profIcon"></i></a>
  </div>
  <div class="social__item twitter">
    <a target="_blank" href="http://www.twitter.com/{{ rep.twitter_id }}" class="social__icon"><i class="fa fa-twitter profIcon"></i></a>
  </div>
  <div class="social__item youtube">
    <a href="http://www.youtube.com/{{ rep.youtube_id }}" class="social__icon"><i class="fa fa-youtube profIcon"></i></a>
  </div>
</div>

      <div class="inlineBlock justify padHorizontal" style="margin-top:40px;">
        <h2 class="subtitle">Top Donors</h2>
        <div ng-repeat="donor in topData">
          {{donor[0]}} - {{donor[1] | currency : symbol : fractionSize}}
        </div>
      </div>
      <div class="inlineBlock justify padHorizontal">
        <h2 class="subtitle">Top Donors by Industry</h2>
        <div ng-repeat="donor in industriesData">
          {{donor[0]}} - {{donor[1] | currency : symbol : fractionSize}}
        </div>
      </div>
      <div class="inlineBlock justify padHorizontal">
        <h2 class="subtitle">Top Donors by Sector</h2>
        <div ng-repeat="donor in sectorData">
          {{donor[0]}} - {{donor[1] | currency : symbol : fractionSize}}
        </div>
      </div>

      <div class="row" style="margin-top:20px;">        
        <div class='col-md-6 col-md-offset-3'>
          <highchart id="corp-chart" config="TopChartConfig"></highchart>
        </div>
      </div>
      <div class="row">
        
        <div class='col-md-5 col-md-offset-1'>
          <highchart id="chart1" config="IndustryChartConfig"></highchart>
        </div>
        <div class='col-md-5 col-md-offset-1'>
          <highchart id="chart3" config="SectorChartConfig"></highchart>
        </div>
      </div>

    </div>
