#profile-view {
  /*background-color: rgba(0,0,0,1);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#profile-view #finance-data {
  margin-top:40px;
}

#profile-view #corp-chart {

}

#seperator {
  clear: both;
  height: 2px;
  width: 20%;
  margin: 20px auto;
  background-color: #e7e7e7;
}