#profile-view {
  /*background-color: rgba(0,0,0,1);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#profile-view #finance-data {
  margin-top:40px;
}