/*COLOR SCHEME:
    Base: #2C3E50;
    Background/Nav-Text: #ECF0F1;
    Grey Contrast: #6C767F;
    Lighter Blue: 709ECC;
*/

body {
    margin-top: 70px;
    background-color: #ecf0f1;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

#photoContainer {
    display:block;
    float:left;
    width: 200px; 
    margin-left:5px;
    margin-top:0px;
    padding: 10px 10px 10px 10px;
    background-color:black;
    color:white;
    border-radius: 0.5em;
}

/*BOOTSTRAP OVERRIDES*/

.navbar {
    background-color: #2C3E50;
}
.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #bdc3c7;
}
