<div id="backing">
	<!-- <div style="text-align:center; width:100%; background-color:red"> -->
	<div class="" id="rep-search-container">
	  <input type="text" class="" id="rep-search" placeholder="FIND A REPRESENTATIVE" ng-model="search"></input>
	</div>

	<div  class="tileView">
	  <div id='rep-list' class='tile' ng-repeat='bio in bios | filter:search'>
	    <img class='repPicture' ng-src="assets/images/{{bio.bioguide_id}}.jpg" fallback-src="assets/images/noImage.jpg"/>
	     <h3>  
	     <a ng-href='/profiles/{{bio.bioguide_id}}'>
	      {{bio.title}} {{bio.first_name}} {{bio.last_name}} ({{bio.party[0]}}, {{bio.state}})
	    </a>
	     </h3>
		</div>
	</div>

	<!-- </div> -->
</div>
