<div ng-app='myCongress.tiles'  class='tileView col-md-8' ng-controller='TileController'>

  	<input class='input-lg form-control' placeholder='Search' ng-model='search'/>
	  <div class='tile' ng-repeat='bio in bios | filter:search'>
	    <div class='repPicture' style="background-image: url(app/repImages/{{bio.bioguide_id}}.jpg);"></div>
	    <h3 class='name'>{{bio.title}} {{bio.first_name}} {{bio.last_name}}</h3>
	    <p class='party'>{{bio.party}}</p>
	    <p class='location'>{{bio.state_name}} {{bio.district}}</p>
	    <p><a ng-href='{{bio.website}}' class='website'>{{bio.website}}</a></p>
	  </div>

</div>