/*COLOR SCHEME:
    Base: #2C3E50;
    Background/Nav-Text: #ECF0F1;
    Dark Grey Contrast: #6C767F;
    Lighter Blue(use sparingly): 709ECC;
*/

.tileView {
  display: block;
}

.tile {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #bdc3c7;
  border: 1px;
  border-radius: 5px;
  margin-top: 5px;
}

.tile:hover {
  background-color: #7f8c8d;
  cursor: pointer;
}

.hover {
  background-color: blue;
}

.repPicture {
  position: absolute;
  top: 5px;
  left: 20px;
  display: block;
  width: 90px;
  height: 90px;
  background: #E6E7ED;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size: cover;
  border: 1px #2c3e50 solid;
}

.name {
  position: absolute;
  font-size: 24px;
  top: -10px;
  left: 150px;
}

.party {
  position: absolute;
  top: 35px;
  left: 150px;
}

.location {
  position: absolute;
  top: 50px;
  left: 150px;
}

.website {
  position: absolute;
  top: 70px;
  left: 150px;
}
