/*COLOR SCHEME:
    Base: #2C3E50;
    Background/Nav-Text: #ECF0F1;
    Dark Grey Contrast: #6C767F;
    Lighter Blue(use sparingly): 709ECC;
    Softer Light Blue: #E4F2FF;
    Acceptable Dark Blue: #709ECC;
*/


.tile {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-top: 5px;
}

.hover {
  background-color: blue;
}


.name {
  position: absolute;
  font-size: 24px;
  top: -15px;
  left: 150px;
}

.party {
  position: absolute;
  top: 30px;
  left: 150px;
}

.location {
  position: absolute;
  top: 45px;
  left: 150px;
}

.website {
  position: absolute;
  top: 65px;
  left: 150px;
}


.search {
  /*position: fixed;*/
  z-index: 5;
  background: #6C767F;
}

body{
  /*overflow: hidden;*/
}

#backing {
  padding: 0px;
  /*height: 1200px;*/
  height:100%;
  background: rgba(0,0,0,0.5);

  overflow-y: scroll;
}
#rep-search {
  border: none;
  height: 60px;
  width: 711px;
  color: #f9f9f9;
  /*background: rgba(0,0,0,0.7);*/
  background: transparent;

  font-size: 24px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-left:auto;
  margin-right: auto;
  border-radius: 0;
  outline: none;
}

#rep-search-container{
  margin-top:70px;
}

#rep-search :focus { 
  outline-color: transparent;
  outline-style: none;
  outline-width: 0;
  outline: none !important;
}

#rep-search::-webkit-input-placeholder {
 color: #f9f9f9;

}

#rep-list h3{
  float: left;
  line-height: 80px;
  margin: 0;
}
#rep-list .repPicture {
  float: left;
  width: 80px;
  height: 80px;
  background: #E6E7ED;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size: cover;
  border: 1px #2c3e50 solid;
}

#rep-list a {
  margin-left: 20px;
}

#profile-view {
  padding-top:20px;
  background: rgba(0,0,0,0.5);
}
#profile-view h1 {
  margin: 20px 0 10px 0;
}

#votesContainer h3 a{
  color:white;
}

#backing .tileView {
  height: 100%;
  padding: 20px;
  text-align: center;
  width: 56%;
  margin-left:auto;
  margin-right:auto;

}
.tileView::-webkit-scrollbar { 
    display: none; 
}

.tileView a{
  color:white;
}