/*COLOR SCHEME:
    Base: #2C3E50;
    Background/Nav-Text: #ECF0F1;
    Dark Grey Contrast: #6C767F;
    Lighter Blue(use sparingly): 709ECC;
    Softer Light Blue: #E4F2FF;
    Acceptable Dark Blue: #709ECC;
*/

.tileView {
  margin-left: 25%;
  position: fixed;
  top: 120px;
  height: 800px;
  overflow: scroll;
}
.tileView::-webkit-scrollbar { 
    display: none; 
}

.tile {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-top: 5px;
}

.hover {
  background-color: blue;
}


.name {
  position: absolute;
  font-size: 24px;
  top: -15px;
  left: 150px;
}

.party {
  position: absolute;
  top: 30px;
  left: 150px;
}

.location {
  position: absolute;
  top: 45px;
  left: 150px;
}

.website {
  position: absolute;
  top: 65px;
  left: 150px;
}


.search {
  position: fixed;
  z-index: 5;
  background: #6C767F;
}

#backing {
  background: rgba(0,0,0,0.3);
  padding: 0px;
  height: 1200px;
}
#rep-search {
  border: none;
  height: 120px;
  width: 92%;
  color: #f9f9f9;
  background: rgba(0,0,0,0);
  font-size: 48px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  text-transform:  uppercase;
  position: fixed;
  top: 0px;
}

#rep-search :focus { 
  outline-color: transparent;
  outline-style: none;
}

#rep-search::-webkit-input-placeholder {
 font-size: 48px;
 color: #f9f9f9;

}

#rep-list h3{
  float: left;
  line-height: 80px;
  margin: 0;
}
#rep-list .repPicture {
  float: left;
  width: 80px;
  height: 80px;
  background: #E6E7ED;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size: cover;
  border: 1px #2c3e50 solid;
}

#rep-list a {
  margin-left: 20px;
}
