/*BOOTSTRAP OVERRIDES*/

.navbar {
    background-color: #2C3E50;
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
    border: none;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #bdc3c7;
}