
<div ng-include="'components/navbar/navbar.html'"></div>
<div id="backing">
<div id="your-reps" class="padHorizontal padVertical">
  
  <div id="votesContainer">
    <h2 class="padHorizontal">Upcoming Bills</h2>
    <h4 class="padHorizontal" ng-show="upcomingBills.length === 0">Congress is being lazy. There are no upcoming bills.</h4>
    <ul>
      <li ng-show="upcomingBills.length > 0" ng-repeat="bill in upcomingBills">
        {{bill.name}}
      </li>
    </ul>
    <h2 class="padHorizontal">Your (Political) Servants</h2>
      <div class="padVertical padHorizontal repInfo" ng-repeat="rep in reps">
        <div class='photoContainer inlineBlock marginHorizontal'>
          <img  ng-src="assets/images/{{rep.bioguide_id}}.jpg" fallback-src="assets/images/noImage.jpg"/>
        </div>
    <!-- <div id='profHeader' class="inlineBlock" ng-class="{ democrat: rep.party  === 'Democrat', republican: rep.party  === 'Republican' }"> -->
      <div class="inlineBlock top">
        <h3>{{ rep.title }} {{ rep.first_name }} {{ rep.last_name }} ({{ rep.party }}, {{ rep.state }})</h3>
        
        <div>  
          <div class="social__item contact">
            <a target="_blank" href="{{ rep.contact_form }}" class="social__icon"><i class="fa fa-envelope-o profIcon"></i></a>
          </div>      
          <div class="social__item facebook">
            <a target="_blank" href="http://facebook.com/{{ rep.facebook_id }}" class="social__icon"><i class="fa fa-facebook profIcon"></i></a>
          </div>
          <div class="social__item twitter">
            <a target="_blank" href="http://www.twitter.com/{{ rep.twitter_id }}" class="social__icon"><i class="fa fa-twitter profIcon"></i></a>
          </div>
          <div class="social__item youtube">
            <a href="http://www.youtube.com/{{ rep.youtube_id }}" class="social__icon"><i class="fa fa-youtube profIcon"></i></a>
          </div>
        </div>
      </div>
      <div class="inlineBlock">
        <h2>Top Donors</h2>
        <div ng-repeat="donor in topDonorsByRep[rep.bioguide_id]">
          {{donor.name}} - {{donor.total_amount | currency : symbol : fractionSize}}
        </div>
      </div>
      <div class="inlineBlock">
        <h2>Top Donors by Industry</h2>
        <div ng-repeat="donor in topIndustriesByRep[rep.bioguide_id]">
          {{donor.name}} - {{donor.amount | currency : symbol : fractionSize}}
        </div>
      </div>
      <div class="inlineBlock">
        <h2>Top Donors by Sector</h2>
        <div ng-repeat="donor in topSectorsByRep[rep.bioguide_id]">
          {{donor.sector | sectorNameConversion}} - {{donor.amount | currency : symbol : fractionSize}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
